
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/common/base.css'%}">
    <title>YouTube Clone</title>
{% block extra_css %}{% endblock %}
{% block title %}
{% endblock %}

</head>
<body>

<div class="container">

    <!-- Left Sidebar -->
    <div class="sidebar">
        <h2>YOUTUBE</h2>

        <div class="menu-item">Home</div>
        <div class="menu-item">Videos</div>
        <div class="menu-item">Shorts</div>
        <div class="menu-item">Live</div>
        <div class="menu-item">Library</div>
    </div>

    <!-- Main Area -->
    <div class="main">

        <!-- Top Bar -->
        <div class="topbar">
            <div class="left">
                <h1>Youtube Clone</h1>
            </div>

            <div class="center">
                <div class="search-box">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search videos...">
                </div>
                <div>
                    <button class="voice-btn">
                        <i class="fa fa-microphone"></i>
                    </button>
                </div>

            </div>
            <div class="right">
                <button class="create-btn">
                    <i class="fa fa-plus"></i> Create
                </button>

                <i class="fa fa-bell notif-icon"></i>

                <i class="fa fa-user-circle profile-icon"></i>

            </div>
        </div>

        <!-- Content Area -->
        <div class="content">
            {% block content %}

            Your page content will come here

            {% endblock %} 
        </div>

    </div>

</div>

</body>
</html>



