<!-- PROFILE HEADER -->

<div class="profile-header">

    <div class="profile-avatar">
        <i class="fa fa-user"></i>
    </div>

    <div class="profile-user">

        <div class="profile-name">
            User Name
        </div>

        <div class="profile-email">
            user@example.com
        </div>

        <button class="manage-account">
            Manage your account
        </button>

    </div>

</div>


<div class="profile-divider"></div>


<!-- ACCOUNT SECTION -->

<div class="profile-section">

    <button class="profile-item">

        <i class="fa fa-user"></i>

        <span>Your channel</span>

    </button>


    <button class="profile-item">

        <i class="fa fa-youtube-play"></i>

        <span>YouTube Studio</span>

    </button>


    <button class="profile-item">

        <i class="fa fa-exchange"></i>

        <span>Switch account</span>

        <i class="fa fa-chevron-right item-arrow"></i>

    </button>


    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}

        <button type="submit" class="profile-item">
            <i class="fa fa-sign-out"></i>
            <span>Sign out</span>
        </button>
    </form>

</div>


<div class="profile-divider"></div>


<!-- SETTINGS -->

<div class="profile-section">

    <button class="profile-item">

        <i class="fa fa-moon-o"></i>

        <span>Appearance</span>

        <i class="fa fa-chevron-right item-arrow"></i>

    </button>


    <button class="profile-item">

        <i class="fa fa-language"></i>

        <span>Language</span>

        <i class="fa fa-chevron-right item-arrow"></i>

    </button>


    <button class="profile-item">

        <i class="fa fa-lock"></i>

        <span>Restricted Mode</span>

        <i class="fa fa-chevron-right item-arrow"></i>

    </button>


    <button class="profile-item">

        <i class="fa fa-cog"></i>

        <span>Settings</span>

    </button>

</div>


<div class="profile-divider"></div>


<!-- HELP -->

<div class="profile-section">

    <button class="profile-item">

        <i class="fa fa-question-circle"></i>

        <span>Help</span>

    </button>


    <button class="profile-item">

        <i class="fa fa-comment"></i>

        <span>Send feedback</span>

    </button>

</div>